.systemEventsDropdown {
  position: relative;

  &__trigger {
    height: 40px !important;
    width: 40px !important;
    color: #fff !important;
    &Icon {
      font-size: 24px;
      margin: {
        top: 2px;
        left: -2px;
      }
    }
    + sup {
      pointer-events: none;
    }
  }

  &__content {
    position: absolute;
    top: calc(100% + 10px);
    right: -90px;
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    min-width: 380px;
  }
}