@import './variables';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: $bg1;
  padding: 0 10px;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: $primaryWidth;
  }
}
