.container {
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:empty {
    min-height: 100px;
  }
}

.list {
  width: 100%;
}
