.container {
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &:empty {
    min-height: 100px;
  }
}

.list {
  width: 100%;
}
