.profileImageWrapper {
  height: 100%;
}

.placeholder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ccc;
  font-size: 20px;
}

.selectImage {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
}

.profileImage {
  position: absolute !important;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  &:hover,
  &:focus {
    border: 1px solid #ff4d4f;
  }
}
